.app-container {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.weather-input {
  margin: 20px;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.weather-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #7289da;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s ease;
}

.weather-button:hover {
  background-color: #5865f2;
}

.weather-info {
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #23272a;
  text-align: center;
  margin-bottom: 30px;
}

.error-message {
  color: #f04747;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
